{% extends 'base.html.twig' %}

{% block title %}Email inviata | {{ parent() }}{% endblock %}

{% block body %}



    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p></p>
                <h1 class="h3 mb-3 font-weight-normal">C'est bon !</h1>
            </div>
        </div>


        <div class="row">
            <div class="col d-flex justify-content-center">

                <div class="card" ">
                <div class="card-body">

                    <p>
                        Si un compte correspondant à ton adresse e-mail existe,
                        un e-mail vient d'être envoyé contenant un lien que tu peux utiliser pour réinitialiser ton mot de passe. <br>

                        Ce lien expirera dans : {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                    </p>
                    <p>Si tu ne reçoit pas d'e-mail,  vérifie stp ton dossier spam ou <a href="{{ path('app_forgot_password_request') }}">essaie à nouveau</a>.</p>

                </div>
            </div>
        </div>
    </div>
    </div>



{% endblock %}
