{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Accueil | {{ parent() }} {% endblock %}

{%  block body %}

    <h1>Bienvenue </h1>
    <button  type="button" class="btn btn-outline-warning" onclick="window.location.href ='{{ path('creer') }}'">Creer une sortie</button>


    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nom sortie</th>
            <th scope="col">Date sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr>


        </tr>
        <tr>


        </tr>

        </tbody>
    </table>

{% endblock %}