{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <button type="button">Gérer les villes</button>
    <button type="button">Gérer les campus</button>
    <button type="button">Gérer les utilisateurs</button>


{% endblock %}
