{% extends 'base.html.twig' %}

{% block title %}Panel admin | {{ parent() }}{% endblock %}

{% block body %}

    <button type="button">Gérer les villes</button>
    <a href="{{ path('admin_liste_campus') }}"><button type="button">Gérer les campus</button></a>
    <button type="button">Gérer les utilisateurs</button>


{% endblock %}
