{% extends 'base.html.twig' %}

{% block title %}Panel admin | {{ parent() }}{% endblock %}

{% block body %}

    <a href="{{ path('admin_liste_villes') }}"><button type="button">Gérer les villes</button></a>
    <a href="{{ path('admin_liste_campus') }}"><button type="button">Gérer les campus</button></a>
    <a href="{{ path('admin_liste_utilisateurs') }}"><button type="button">Gérer les utilisateurs</button></a>


{% endblock %}
