 {% extends 'base.html.twig' %}

{# {% form_theme lieuType "bootstrap_3_horizontal_layout.html.twig" %}#}


 {% block title %}{{ parent() }} | Nouvelle adresse{% endblock %}

  {% block body %}

      <div class="container">
      <div class="row">
          <div class="col d-flex justify-content-center">
              <p> </p>
          </div>
      </div>
      <div class="row">
          <div class="col d-flex justify-content-center">
              <p> </p>
              <h1 class="h3 mb-3 font-weight-normal">Enregistre ici une nouvelle adresse</h1>
          </div>
      </div>



      <div class="row">
      <div class="col d-flex justify-content-center">

      <div class="card" style="width: 18rem;">
      <div class="card-body">
    {{ form_start(lieuType) }}
    {{ form_widget(lieuType)}}
    <br>
    <button class="btn btn-light" type="submit">Ajouter</button>

    {{ form_end(lieuType) }}

      </div>
      </div>
      </div>
      </div>
      </div>

 {% endblock %}