{% extends 'base.html.twig' %}

{% block title %} Modifier la sortie {% endblock %}

{% block body %}
        <h2>Modification de la sortie</h2>
    <br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <i style="font-size: small">* Champ obligatoire</i><br>
    <br>
    <button type="submit" class="btn btn-light" name="createSortie" value="Créée" onclick=window.location.href="{{ path('creer') }}>Enregistrer</button>
    <button type="submit" class="btn btn-light" name="createSortie" value="Ouverte">Publier</button>
    {{ form_end(form) }}


{% endblock %}



