<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <title>{% block title %}Sortir.com{% endblock %}</title>

    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/default.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('script/default.js') }}" defer></script>
    {% endblock %}
</head>
<header>
    {% include ('inc/_nav.html.twig') %}
</header>
<body>
{% block body %}{% endblock %}
</body>
</html>
