{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Oups ! {% endblock %}

{% block body %}
<p> oups! il y a une erreur... </p>
    <p> pour naviguer dans le site, il faut d'abord se connecter... </p>

{% endblock %}