{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Oups ! {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p></p>
                <h1 class="h3 mb-3 font-weight-normal">oups! il y a une erreur 404</h1>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center">

                <div class="card"
                ">
                <div class="card-body">

                    <p>Il semble que la page que tu voulais consulter n'existe pas.<br>

                        Retourne à la page d'accueil pour continuer à naviguer dans sortir.com.</p>
                    <a href="{{ path('main_accueil') }}">
                        <button type="button" class="btn btn-secondary btn-sm">Retour</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}